.en
.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz

test_logs/
logs/
.coverage
.pytest_cache/
.DS_Store
.vscode/
.idea/
.pytest_cache/
coverage.xml

pokemon-tcg-data/
pokemon-tcg-data.zip

cache/
database/data/
node_modules/

playwright-report/
test-results/